DATABASE_URL=mysql+pymysql://root:yourpassword@localhost:3306/calendly_clone
SECRET_KEY=your-secret-key-change-in-production


EMAIL_ENABLED=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your@gmail.com
EMAIL_PASSWORD=your-16-char-app-password
EMAIL_FROM_NAME=Calendly Clone
